<head>
    <title>Login</title>
</head>
{% extends 'base.html' %}
{% block body %}
<main>
    <form method="post">
        <label for="email">Username or Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
        {% if error %}
        <p style="color: red">{{ error }}</p>
        {% endif %}
    </form>
</main>
{% endblock %}
